* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.colorSwitchButton {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
}
.timer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  text-transform: uppercase;
}
.value {
  font-size: 40px;
}
.calendar {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.task2 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
